<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="design_template.css">
        <img src="https://lh3.googleusercontent.com/vc0WZ7_2P8XZIFA76rqLVu5ht3VJCvBq9MeTmyECglrhy7BgqjooEwdZ_n4qZ9fk5gPnFh0A0QGdyTILFX6hz4KdJWTiAd4QSBMJYmgcwobjCemYxds0mRJmw4goNI1CaP7VRjBVsHdo7EyTF-QiUpYf-nkWtudq3x6dZF4xnParnuBJzp8tYZluAxG_Y-9Yk0SRALeFPy7bsKHpSOcjGh7BNpOiPGHs9V2ss7BMT7XyA4k7TipWPK6sMM-0CXlK8MiCMFgnBYt5S-aFOqfY3E2-bGKfdyxNDviqPbAEfCmLZASa-ZRec7fYcHtXAwkDKSYwZUeWy2XkqAjj-3RpmPwbo6qHELX-7xNHWCaghHkF7GqrhSY3ShpXlxsr14f2lkQisDOcTI7BRXNDaz3kMSQD0eq6rtPL6PKZa8mZWAqI1gmlL2ih8T_U8kov43sQoa2kkc_OGZNE2Z6-Fmc4Oi2PPDHFGvtKWje6FBheXuvYvWwxcCyvzziWCaq20HRjWDWF4hnv4yY-3BTBJQ8jjgMGsYF45dbZH-wTQCZgDtcYp0SKNo7tf-H-kmFuZdsUL6cswK6E3LWeT0tudpYklECYoc9v8SCEq0dOVA=w800-h476-no" alt="logo" class="logo">
        <div class="master">
           <table class="header">
             <tr>
                <th><a href="/rules_faq" class="th">Rules + FAQ</a></th>
                <th><a href="/beginners_guide" class="th">Beginners' Guide</a></th>
                <th><a href="/puzzles" class="th">Puzzles</a></th>
                <th><a href="/leaderboard" class="th">Leaderboard</a></th>
                <th><a href="/updates" class="th">Updates</a></th>
             </tr>
           </table>
        </div>
        <p class="head">
           <!-- Insert username with link to team page if logged in, or link to signup if not -->
        </p>
    </head>
    <body>
      <div class="master">
        {% block content %}
        {% endblock %}
     </div>
    </body>
    <footer>
        <p class="foot">
           <!-- add this in when credits complete <a href="/credits"> -->&copy;<!-- </a> --> Eggplant Parms, 2018
        </p>
    </footer>
</html>
