{ % extends 'base_template.html' % }

{ % block content % }
<h2 class="underline">Credits</h2>
<h4>Project Lead</h4>
<p>Level 51</p>
<br/>
<h4>Site Lead</h4>
<p>talkingtree</p>
<br/>
<h4>Puzzle Design</h4>
<p>Level 51, lovemathboy, Scarf Nihilego</p>
<br/>
<h4>Testsolving</h4>
<p>CheeseMuffin, Level 51, lovemathboy, Scarf Nihilego, talkingtree</p>
<br/>
<h4>Spriting</h4>
<p>Level 51</p>
<p><i>Additional credits to The Spriter's Resource for ripped tilesets:</i></p>
<ul>
   <li>RB Tileset: Badassbill</li>
   <li>Crystal Tileset: Superjustinbros</li>
   <li>Emerald Tileset: Heartlessdragon</li>
</ul>
<br/>
<h4>Special Thanks</h4>
<ul>
   <li>Former staff Nia and teal6</li>
   <li>DaLetterEl for approving and helping to assist the event to completion</li>
   <li>shade for coordinating the prizes</li>
   <li>P Squared and The Dutch Plumberjack for their help with publicizing this event</li>
   <li>All our solvers, we couldn't have made this event a success without you!</li>
</ul>
<br/>
{ % endblock % }
