{% extends 'base_template.html' %}

{% block content %}
<h3>FAQ</h3>
<p><b>Q:</b> I've never done puzzles like these before, how should I prepare for the hunt?<br/>
<b>A:</b> Here's a helpful quick-start guide detailing various tricks often employed in puzzles, as well as some other sites you could look up.</p>

<p><b>Q:</b> I have no idea where to start with these puzzles! / I'm stuck! What am I supposed to do?<br/>
<b>A:</b> In addition to reading the above guide for inspiration, if you're really still stuck during the hunt, that might be a good time to use a hint!</p>

<p><b>Q:</b> Will I need to be active consistently throughout the week?<br/>
<b>A:</b> Nope! The primary objective of this event is for everyone to have fun, so feel free to participate as actively as you like!</p>

<p><b>Q:</b> How many of the puzzles in this hunt will require knowledge of Pokemon or competitive Pokemon to solve?<br/>
<b>A:</b> Some of the puzzles (less than half) in this hunt will require Pokemon-related knowledge to solve. The other ones can be solved by someone who's never played Pokemon in their entire life.</p>

<p><b>Q:</b> Does my team have to do all its communication within our Discord channel?<br/>
<b>A:</b> You're free to work outside the Discord channel if you wish, but allowing us to see your team's discussions can help us to provide more accurate and helpful hints to your team.</p>

<p><b>Q:</b> How many puzzles are there in total in this hunt?<br/>
<b>A:</b> 24.</p>

<p><b>Q:</b> Can I sign up in a team of less than 6 people?<br/>
<b>A:</b> Sure! We hope the hunt will be fun for teams of all sizes; however, having more people would certainly help in solving the puzzles more quickly.</p>

<p><b>Q:</b> Will any of the puzzles involve looking at the page source or anything like that?<br/>
<b>A:</b> No.</p>

<p><b>Q:</b> I have a question that's not on this list!<br/>
<b>A:</b> If you wish to contact us for any hunt-related matters, including potentially erroneous puzzles, please tag @Staff in your team's Discord channel and voice your concern. Feel free to message me on Smogon or on Discord (Level 51#0375, and I'm contactable via the official Smogon server) if you have any other questions that need answers!</p>
{ % endblock % }
