{ % extends 'base_template.html' % }

{ % block content % }
<table class="round1">
   <tr>
      <td class="round1">
         <div class="main">
            <p>Double or Nothing</p>
            <p>Points: 5</p>
         </div>
      </td>
      <td class="round1">
         <div class="main">
            <p>A Hating at the Carthorses</p>
            <p>Points: 5</p>
         </div>
      </td>
      <td class="round1">
         <div class="main">
            <p>Bridging the Gap</p>
            <p>Points: 5</p>
         </div>
      </td>
   </tr>
   <tr>
      <td class="round1">
         <div class="main">
            <p>Ambidextrous</p>
            <p>Points: 5</p>
         </div>
      </td>
      <td class="round1">
         <div class="main">
            <p>Sense of Belonging</p>
            <p>Points: 5</p>
         </div>
      </td>
      <td class="round1">
         <div class="main">
            <p>Blind Spots</p>
            <p>Points: 5</p>
         </div>
      </td>
   </tr>
</table>
<div class="meta_locked">
   <p>???</p>
   <p>Points required: 20</p>
</div>
{ % endblock % }
