{ % extends 'base_template.html' % }

{ % block content % }
<table class="round1">
   <tr>
      <td>
         <div class="main">
            <a href="/R1-double-or-nothing.html">Double or Nothing</a>
            <p>Points: 5</p>
         </div>
      </td>
      <td>
         <div class="main">
            <a href="/R1-carthorse.html">Carthorse</a>
            <p>Points: 5</p>
         </div>
      </td>
      <td>
         <div class="main">
            <a href="/R1-bridging-the-gap.html">Bridging the Gap</a>
            <p>Points: 5</p>
         </div>
      </td>
   </tr>
   <tr>
      <td>
         <div class="main">
            <a href="/R1-ambidextrous.html">Ambidextrous</a>
            <p>Points: 5</p>
         </div>
      </td>
      <td>
         <div class="main">
            <a href="/R1-sense-of-belonging.html">Sense of Belonging</a>
            <p>Points: 5</p>
         </div>
      </td>
      <td>
         <div class="main">
            <a href="/R1-blind-spots.html">Blind Spots</a>
            <p>Points: 5</p>
         </div>
      </td>
   </tr>
</table>
<!-- if team.r1_points >= 20:
<div class="meta" href="/R1-a-brief-oration.html"-->
<!-- otherwise: -->
<div class="meta">
   <p>A Brief Oration</p>
   <p>Points required: 20</p>
</div>
<!-- if team.r1_points >= 1000: -->
<hr>
<table class="round2">
   <tr>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>Fan Service</p>
            <p>Badge Points: 10</p>
         </div>
      </td>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>Gender Studies</p>
            <p>Badge Points: 10</p>
         </div>
      </td>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>Namesakes</p>
            <p>Badge Points: 10</p>
         </div>
      </td>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>Expansion</p>
            <p>Badge Points: 10</p>
         </div>
      </td>
   </tr>
   <tr>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>word f(ind)</p>
            <p>Badge Points: 12</p>
            <p>Badge Points Required: 10</p>
         </div>
      </td>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>CAP Contributor</p>
            <p>Badge Points: 14</p>
            <p>Badge Points Required: 20</p>
         </div>
      </td>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>Spacetime</p>
            <p>Badge Points: 16</p>
            <p>Badge Points Required: 30</p>
         </div>
      </td>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>Building Bridges</p>
            <p>Badge Points: 18</p>
            <p>Badge Points Required: 40</p>
         </div>
      </td>
   </tr>
   <tr>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>Up Against The Wall</p>
            <p>Badge Points: 20</p>
            <p>Badge Points Required: 52</p>
         </div>
      </td>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>Basic Counting</p>
            <p>Badge Points: 22</p>
            <p>Badge Points Required: 66</p>
         </div>
      </td>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>Suspect Test</p>
            <p>Badge Points: 24</p>
            <p>Badge Points Required: 82</p>
         </div>
      </td>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>World's Longest Port</p>
            <p>Badge Points: 26</p>
            <p>Badge Points Required: 100</p>
         </div>
      </td>
   </tr>
   <tr>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>Casting Call</p>
            <p>Badge Points: 28</p>
            <p>Badge Points Required: 120</p>
         </div>
      </td>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>Extremely Slow Cookie Clicker</p>
            <p>Badge Points: 30</p>
            <p>Badge Points Required: 142</p>
         </div>
      </td>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>The Last Word</p>
            <p>Badge Points: 32</p>
            <p>Badge Points Required: 166</p>
         </div>
      </td>
      <td>
         <div class="main" href="/R2-fan-service.html">
            <p>Crazy Bracket</p>
            <p>Badge Points: 34</p>
            <p>Badge Points Required: 192</p>
         </div>
      </td>
   </tr>
</table>
<!-- if team.r2_points >= 220:
<div class="meta2" href="/R2-the-final-battle.html"> -->
<!-- if team.r2_points >= 100 -->
<div class="meta2">
   <p>The Final Battle</p>
   <p>Badge Points Required: 220</p>
</div>
{ % endblock % }
