<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="design_template.css">
        <img src="../static/images/SPH_logo.png" alt="logo" class="logo">
        <div class="master">
           <table class="header">
             <tr>
                <th class="header"><a href="/rules_faq" class="th">Rules + FAQ</a></th>
                <th class="header"><a href="/guide" class="th">Beginners' Guide</a></th>
                <th class="header"><a href="/puzzles" class="th">Puzzles</a></th>
                <th class="header"><a href="/leaderboard" class="th">Leaderboard</a></th>
                <th class="header"><a href="/updates" class="th">Updates</a></th>
             </tr>
           </table>
        </div>
        <table class="subhead">
           <tr>
             <td class="left"><a href="/submit">Submit Your Answer or Request a Hint</a></td>
             <td class="right"><a href="/teampage">{{ team.teamname }}</a></td>
          </tr>
        </table>
    </head>
    <body>
      <div class="master">
        {% block content %}
        {% endblock %}
     </div>
    </body>
    <footer>
        <p class="foot">
           <a href="/credits">&copy;</a> Eggplant Parms, 2018
        </p>
    </footer>
</html>
