{ % extends 'base_template.html' % }

{ % block content % }
<h1>Rules</h1>
<h3>Format / Rules</h3>
<ul>
<li>The Smogon Puzzle Hunt will start on Friday, July 13th, 2018 at 0000hrs GMT+0 (that's the start of Friday, not the end) and last until Monday, July 23rd, 2018 at 1200hrs GMT+0.</li>
<li>Teams may have up to 6 users.</li>
<li>Some puzzles will be available at the start of the hunt, while more will be unlocked as you solve puzzles and progress through the hunt.</li>
<li>The goal of the hunt is to complete the final metapuzzle at the end of the hunt, not necessarily to complete all the puzzles along the way.</li>
<li>Each team has 20 incorrect guesses for each puzzle; after 20 incorrect guesses, they can no longer submit answers for that puzzle. This is to discourage spamming guesses, but if you genuinely need more guesses, please contact us.</li>
<li>Starting on Saturday, July 14th, 2018 at 0000hrs GMT+0, each team will be given two hint requests every 24 hours, at 0000hrs GMT+0. Your team may expend a hint request at any time to ask for help on any one puzzle you've unlocked.</li>
<li>Hint requests can be sent in along with a description of the team's progress on the puzzle to get a nudge in the right direction; alternatively, they can be used to ask a specific question (e.g. "Do I have to rearrange the entries on this list?"). We reserve the right to not answer hint requests which we feel ask for too much (e.g. "What's the answer to this puzzle?"), though, and we'll deal with such requests on a case-by-case basis.</li>
<li>Teams that complete the hunt will be ranked by the time at which they finish. Teams that do not complete the hunt will be ranked by the number of puzzles they've solved.</li>
<li>Each team will have their own channel on our Discord server. This is the primary method in which teams should interface with staff members for any hunt-related matters.</li>
</ul>

<h3>Additional Rules</h3>
<ul>
<li>You are allowed and encouraged to use external sources of help such as Google and other sites.</li>
<li>You may obtain help from an external party so long as they are not involved in the hunt (e.g. on another team).</li>
<li>Do not leak any answers or information about puzzles to other teams, as this will ruin the hunt experience for other teams.</li>
<li>We reserve the right to disqualify any team for unsportsmanlike conduct, which includes but is not limited to leaking answers and sabotaging other teams.</li>
</ul>

<h3>Signups</h3>
<ul>
<li>Signups will run throughout the hunt, so it's possible for teams to sign up mid-hunt.</li>
<li>To sign up a team for this puzzle hunt, please register on the site, which will require the names and Discord tags of each of your members.</li>
<li>Additionally, registering on Smogon via this thread will make the team eligible for additional Smogon-only prizes (see the Prizes section below).</li>
</ul>

<h3>Prizes</h3>
<ul>
<li>The first Smogon team to complete the hunt (by completing the final metapuzzle) will receive a custom banner for each of their team members. This banner will last a year before expiring.</li>
<li>Additionally, all teams which reach various checkpoints in the hunt will receive a special token of appreciation from us.</li>
</ul>
{ % endblock % }
