{ % extends "base_template.html" % }

{ % block content % }
   <div class="master">
      <!-- Add badges functionality here -->
      <table class="info">
         <tr>
            <th class="">Stats</th>
            <th class="">Team Members</th>
         </tr>
         <tr>
            <td><i>Coming Soon</i></td>
            <td>
               {{ team.members }}</br></br>
               <!-- make this only visible for members of that team + admins before hunt -->
               <!-- {{ team.discords }}-->
            </td>
         </tr>
      </table>
      <!-- make this only visible for members of that team + admins before hunt -->
      <form method="post">
         <table class="addMember">
            <tr>
               <td><label for="displayname"><b>Display Name: </b></td>
               <td>
                  <input name="displayname" type="text" value="{{ displayname }}">
               </td>
            </tr>
            <tr>
               <td><label for="discord"><b>Discord Tag: </b></td>
               <td>
                  <input name="discord" type="text" value="{{ discord }}">
               </td>
            </tr>
         </table>
         <input type="submit">
      </form>
      <p class="logout">Log out <a href="/logout">here</a></p>
      <!-- end visibility issue -->
   </div>
{ % endblock % }
